@import "~sass-mq";
@import "./utils/variables";
@import "./components/index";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  background: $main-color;
  margin: 0;
  font-size: 18px;
}
#app {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text-color;
}
h1 {
  color: $dark-gray;
  font-size: 26px;
}
.searchform {
  font-family: "Montserrat", sans-serif;
  width: 70vw;
  max-width: 80vw;
  top: calc(50% - 50px / 2 - 346px);
  background: #ffffff;
  background-image: url("./assets/Search.svg");
  background-repeat: no-repeat;
  background-position: 15px center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  border: 0;
  padding: 15px 10px 15px 45px;
  margin: 5% auto;
  color: $dark-gray;
  font-size: 18px;
  @include mq($from: tablet) {
    width: 55vw;
    padding: 15px 15px 15px 60px;
  }
  &::placeholder {
    color: $main-gray;
  }
  &:focus {
    outline: none;
  }
}

.splash_screen {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
  margin-top: 10%;
  @include mq($from: tablet) {
    width: 80vw;
    margin: 5vh auto;
    p {
      width: 60%;
    }
  }
}

.noresults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
