.button {
  background-color: $primary-red;
  color: $white;
  text-decoration: none;
  padding: 11px 20px;
  border-radius: 60px;
  border: 0;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq($from: tablet) {
    cursor: pointer;
  }
  img {
    margin-right: 15px;
  }
  &:active {
    background-color: $secondary-red;
  }
  &.disabled {
    background-color: $main-gray;
  }
}
