.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 80px;
  background: $white;
  box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.05);
  .button {
    width: 30%;
    margin: 5px;
    @include mq($from: tablet) {
      width: 25%;
    }
  }
}
