.pokemodal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: #00000075;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  #myInput {
    text-transform: capitalize;
    display: none;
  }
  &-body {
    background-color: $white;
    border-radius: 5px;
    overflow: hidden;
    @include mq($from: tablet) {
      width: 60vw;
    }
  }
  &-header {
    background-image: url("./assets/imgBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    padding: 20px 0;
    .close {
      background-image: url("./assets/close.svg");
      background-color: transparent;
      background-repeat: no-repeat;
      height: 26px;
      width: 26px;
      border: 0;
      position: absolute;
      top: 15px;
      right: 15px;
      @include mq($from: tablet) {
        cursor: pointer;
      }
    }
    img {
      height: 150px;
    }
  }
  &-info {
    padding: 20px;
    @include mq($from: tablet) {
      padding: 30px;
    }
    &__item {
      display: flex;
      margin: 5px;
      padding: 10px 0;
      border-bottom: 1px solid $light-gray;
      text-transform: capitalize;
      strong {
        margin-right: 5px;
      }
    }
  }
  &-types {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    li {
      &:after {
        content: ", ";
        margin-right: 5px;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  &-btns {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
  }
}
