.pokecard {
  width: 80vw;
  padding: 10px;
  margin: 5px auto;
  border-radius: 5px;
  background-color: $white;
  color: $dark-gray;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq($from: tablet) {
    width: 60vw;
    cursor: pointer;
  }
  &-name {
    display: flex;
    width: 80%;
    padding: 0 10px;
  }
  &-star {
    background-color: $light-gray;
    border-radius: 50%;
    padding: 4px;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    @include mq($from: tablet) {
      cursor: pointer;
    }
    img {
      max-width: 90%;
      height: auto;
    }
  }
}
